@use '../../utils/mixins' as *;

.checkbox {
    display: flex;
    align-items: flex-start;
    gap: var(--eds-spacing-small-4);

    &__indicator {
        @include transform-all(0.1s);
        display: flex;
        // Compensate for border width
        padding: calc(var(--eds-spacing-small-2) - 2px);
        align-items: center;
        flex-shrink: 0;
        border-radius: var(--eds-radius-small);
        border: var(--eds-stroke-divider-strong) solid
            var(--eds-colour-action-stroke-form-default);
        background: var(--eds-colour-action-bg-form-default);
    }

    &__label {
        padding: var(--eds-spacing-small-1) 0;
        color: var(--eds-colour-static-text-on-basic-body);
    }

    &__icon {
        @include transform-all(0.1s);
        width: 24px;
        height: 24px;
        opacity: 0;
        color: var(--eds-colour-action-icon-accent-default);
    }

    &__suffix {
        display: inline-flex;
        // Compensate for smaller font-size
        transform: translateY(-1px);
        color: var(--eds-colour-static-text-on-basic-body);
    }

    &__suffix-separator {
        display: inline-flex;
        width: var(--eds-spacing-small-2);
    }

    &:hover {
        .checkbox__indicator {
            border: var(--eds-stroke-divider-strong) solid
                var(--eds-colour-action-stroke-form-hover);
            background: var(--eds-colour-action-bg-form-hover);
        }
    }

    &--pressed {
        .checkbox__indicator {
            background: var(--eds-colour-static-bg-accent-main) !important;
            border-color: var(--eds-colour-static-bg-accent-main) !important;
        }

        .checkbox__icon {
            opacity: 1;
            color: var(
                --eds-colour-static-icon-on-accent-alternative
            ) !important;
        }
    }

    &--selected {
        .checkbox__icon {
            opacity: 1;
        }

        &:hover {
            .checkbox__icon {
                color: var(--eds-colour-action-icon-accent-hover);
            }
        }
    }

    &--focused {
        .checkbox__indicator {
            @include focus-ring-small;
            border-color: var(--eds-colour-action-stroke-form-focus);
        }

        &.checkbox--selected {
            .checkbox__icon {
                color: var(--eds-colour-action-icon-accent-hover);
            }
        }
    }

    &--invalid {
        .checkbox__label {
            &:hover {
                .checkbox__indicator {
                    border-color: var(--danger-500);
                }
            }
        }

        .checkbox__indicator {
            border-color: var(--eds-colour-static-stroke-alert-main);
        }
    }
}

.messages {
    display: flex;
    flex-direction: column;
    gap: var(--eds-spacing-small-4);
    padding-left: var(--eds-spacing-medium-4);

    &__description {
        &--regular {
            color: var(--eds-colour-static-text-on-basic-supportive);
        }

        &--warning {
            color: var(--eds-colour-static-text-warning-body);
        }
    }

    &__error {
        color: var(--eds-colour-static-text-alert-body);
    }
}
