.base {
    padding: var(--eds-spacing-medium-2) var(--eds-spacing-medium-4);
    background-color: var(--eds-colour-static-bg-basic-alternative);
    color: var(--eds-colour-static-text-on-basic-supportive);
}
