@import '../../helpers/mixins';

// Paragraph (p)
.text-p-small {
    @include text-p-small;

    a {
        text-decoration: underline;
    }
}

.text-p-default {
    @include text-p-default;

    a {
        text-decoration: underline;
    }
}

.text-p-large {
    @include text-p-large;

    a {
        text-decoration: underline;
    }
}

// Line
.text-line-tiny {
    @include text-line-tiny;

    a {
        text-decoration: underline;
    }
}

.text-line-small {
    @include text-line-small;

    a {
        text-decoration: underline;
    }
}

.text-line-default {
    @include text-line-default;

    a {
        text-decoration: underline;
    }
}

.text-line-large {
    @include text-line-large;

    a {
        text-decoration: underline;
    }
}

// List
.text-list-default {
    @include text-list-default;

    a {
        text-decoration: underline;
    }
}

// Label
.label-tiny {
    @include label-tiny;

    a {
        text-decoration: underline;
    }
}

.label-small {
    @include label-small;

    a {
        text-decoration: underline;
    }
}

.label-default {
    @include label-default;

    a {
        text-decoration: underline;
    }
}

.label-large {
    @include label-large;

    a {
        text-decoration: underline;
    }
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-400 {
    font-weight: 400;
}

.text-600 {
    font-weight: 600;
}