@mixin typography(
    $fontFamily,
    $fontWeight,
    $fontSize,
    $lineHeight,
    $letterSpacing
) {
    font-family: $fontFamily, sans-serif;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    @if $fontWeight {
        font-weight: $fontWeight;
    } @else {
        font-weight: inherit;
    }
}

// Define mixins for each heading, text, and label variant
// Heading
@mixin heading-display-desktop {
    @include typography(
        var(--heading-desktop-display-font-family),
        var(--heading-desktop-display-font-weight),
        var(--heading-desktop-display-font-size),
        var(--heading-desktop-display-line-height),
        var(--heading-desktop-display-letter-spacing)
    );
}

@mixin heading-h1-desktop {
    @include typography(
        var(--heading-desktop-h1-font-family),
        var(--heading-desktop-h1-font-weight),
        var(--heading-desktop-h1-font-size),
        var(--heading-desktop-h1-line-height),
        var(--heading-desktop-h1-letter-spacing)
    );
}

// Headings for Desktop
@mixin heading-h2-desktop {
    @include typography(
        var(--heading-desktop-h2-font-family),
        var(--heading-desktop-h2-font-weight),
        var(--heading-desktop-h2-font-size),
        var(--heading-desktop-h2-line-height),
        var(--heading-desktop-h2-letter-spacing)
    );
}

@mixin heading-h3-desktop {
    @include typography(
        var(--heading-desktop-h3-font-family),
        var(--heading-desktop-h3-font-weight),
        var(--heading-desktop-h3-font-size),
        var(--heading-desktop-h3-line-height),
        var(--heading-desktop-h3-letter-spacing)
    );
}

@mixin heading-h4-desktop {
    @include typography(
        var(--heading-desktop-h4-font-family),
        var(--heading-desktop-h4-font-weight),
        var(--heading-desktop-h4-font-size),
        var(--heading-desktop-h4-line-height),
        var(--heading-desktop-h4-letter-spacing)
    );
}

@mixin heading-h5-desktop {
    @include typography(
        var(--heading-desktop-h5-font-family),
        var(--heading-desktop-h5-font-weight),
        var(--heading-desktop-h5-font-size),
        var(--heading-desktop-h5-line-height),
        var(--heading-desktop-h5-letter-spacing)
    );
}

@mixin heading-h6-desktop {
    @include typography(
        var(--heading-desktop-h6-font-family),
        var(--heading-desktop-h6-font-weight),
        var(--heading-desktop-h6-font-size),
        var(--heading-desktop-h6-line-height),
        var(--heading-desktop-h6-letter-spacing)
    );
}

@mixin heading-leadtext-desktop {
    @include typography(
        var(--heading-desktop-leadtext-font-family),
        var(--heading-desktop-leadtext-font-weight),
        var(--heading-desktop-leadtext-font-size),
        var(--heading-desktop-leadtext-line-height),
        var(--heading-desktop-leadtext-letter-spacing)
    );
}

@mixin heading-subheadline-desktop {
    @include typography(
        var(--heading-desktop-subheadline-font-family),
        var(--heading-desktop-subheadline-font-weight),
        var(--heading-desktop-subheadline-font-size),
        var(--heading-desktop-subheadline-line-height),
        var(--heading-desktop-subheadline-letter-spacing)
    );
}

// Headings for Mobile
@mixin heading-display-mobile {
    @include typography(
        var(--heading-mobile-display-font-family),
        var(--heading-mobile-display-font-weight),
        var(--heading-mobile-display-font-size),
        var(--heading-mobile-display-line-height),
        var(--heading-mobile-display-letter-spacing)
    );
}

@mixin heading-h1-mobile {
    @include typography(
        var(--heading-mobile-h1-font-family),
        var(--heading-mobile-h1-font-weight),
        var(--heading-mobile-h1-font-size),
        var(--heading-mobile-h1-line-height),
        var(--heading-mobile-h1-letter-spacing)
    );
}

@mixin heading-h2-mobile {
    @include typography(
        var(--heading-mobile-h2-font-family),
        var(--heading-mobile-h2-font-weight),
        var(--heading-mobile-h2-font-size),
        var(--heading-mobile-h2-line-height),
        var(--heading-mobile-h2-letter-spacing)
    );
}

@mixin heading-h3-mobile {
    @include typography(
        var(--heading-mobile-h3-font-family),
        var(--heading-mobile-h3-font-weight),
        var(--heading-mobile-h3-font-size),
        var(--heading-mobile-h3-line-height),
        var(--heading-mobile-h3-letter-spacing)
    );
}

@mixin heading-h4-mobile {
    @include typography(
        var(--heading-mobile-h4-font-family),
        var(--heading-mobile-h4-font-weight),
        var(--heading-mobile-h4-font-size),
        var(--heading-mobile-h4-line-height),
        var(--heading-mobile-h4-letter-spacing)
    );
}

@mixin heading-h5-mobile {
    @include typography(
        var(--heading-mobile-h5-font-family),
        var(--heading-mobile-h5-font-weight),
        var(--heading-mobile-h5-font-size),
        var(--heading-mobile-h5-line-height),
        var(--heading-mobile-h5-letter-spacing)
    );
}

@mixin heading-h6-mobile {
    @include typography(
        var(--heading-mobile-h6-font-family),
        var(--heading-mobile-h6-font-weight),
        var(--heading-mobile-h6-font-size),
        var(--heading-mobile-h6-line-height),
        var(--heading-mobile-h6-letter-spacing)
    );
}

@mixin heading-leadtext-mobile {
    @include typography(
        var(--heading-mobile-leadtext-font-family),
        var(--heading-mobile-leadtext-font-weight),
        var(--heading-mobile-leadtext-font-size),
        var(--heading-mobile-leadtext-line-height),
        var(--heading-mobile-leadtext-letter-spacing)
    );
}

@mixin heading-subheadline-mobile {
    @include typography(
        var(--heading-mobile-subheadline-font-family),
        var(--heading-mobile-subheadline-font-weight),
        var(--heading-mobile-subheadline-font-size),
        var(--heading-mobile-subheadline-line-height),
        var(--heading-mobile-subheadline-letter-spacing)
    );
}

// Text - Paragraph (p)
@mixin text-p-small {
    @include typography(
        var(--text-p-small-400-font-family),
        var(--text-p-small-400-font-weight),
        var(--text-p-small-400-font-size),
        var(--text-p-small-400-line-height),
        var(--text-p-small-400-letter-spacing)
    );
}

// Default variants
@mixin text-p-default {
    @include typography(
        var(--text-p-default-400-font-family),
        var(--text-p-default-400-font-weight),
        var(--text-p-default-400-font-size),
        var(--text-p-default-400-line-height),
        var(--text-p-default-400-letter-spacing)
    );
}

// Large variants
@mixin text-p-large {
    @include typography(
        var(--text-p-large-400-font-family),
        var(--text-p-large-400-font-weight),
        var(--text-p-large-400-font-size),
        var(--text-p-large-400-line-height),
        var(--text-p-large-400-letter-spacing)
    );
}

@mixin text-line-tiny {
    @include typography(
        var(--text-line-tiny-400-font-family),
        var(--text-line-tiny-400-font-weight),
        var(--text-line-tiny-400-font-size),
        var(--text-line-tiny-400-line-height),
        var(--text-line-tiny-400-letter-spacing)
    );
}

@mixin text-line-small {
    @include typography(
        var(--text-line-small-400-font-family),
        var(--text-line-small-400-font-weight),
        var(--text-line-small-400-font-size),
        var(--text-line-small-400-line-height),
        var(--text-line-small-400-letter-spacing)
    );
}

@mixin text-line-default {
    @include typography(
        var(--text-line-default-400-font-family),
        var(--text-line-default-400-font-weight),
        var(--text-line-default-400-font-size),
        var(--text-line-default-400-line-height),
        var(--text-line-default-400-letter-spacing)
    );
}

@mixin text-line-large {
    @include typography(
        var(--text-line-large-400-font-family),
        var(--text-line-large-400-font-weight),
        var(--text-line-large-400-font-size),
        var(--text-line-large-400-line-height),
        var(--text-line-large-400-letter-spacing)
    );
}

// Lists
@mixin text-list-default {
    @include typography(
        var(--text-list-default-400-font-family),
        var(--text-list-default-400-font-weight),
        var(--text-list-default-400-font-size),
        var(--text-list-default-400-line-height),
        var(--text-list-default-400-letter-spacing)
    );
}

// Label - Tiny
@mixin label-tiny {
    @include typography(
        var(--label-tiny-400-font-family),
        var(--label-tiny-400-font-weight),
        var(--label-tiny-400-font-size),
        var(--label-tiny-400-line-height),
        var(--label-tiny-400-letter-spacing)
    );
}

// Label - Small
@mixin label-small {
    @include typography(
        var(--label-small-400-font-family),
        var(--label-small-400-font-weight),
        var(--label-small-400-font-size),
        var(--label-small-400-line-height),
        var(--label-small-400-letter-spacing)
    );
}

// Label - Default
@mixin label-default {
    @include typography(
        var(--label-default-400-font-family),
        var(--label-default-400-font-weight),
        var(--label-default-400-font-size),
        var(--label-default-400-line-height),
        var(--label-default-400-letter-spacing)
    );
}

// Label - Large
@mixin label-large {
    @include typography(
        var(--label-large-400-font-family),
        var(--label-large-400-font-weight),
        var(--label-large-400-font-size),
        var(--label-large-400-line-height),
        var(--label-large-400-letter-spacing)
    );
}
